/* ------------------------------------------------------------------------ layout.html */

@font-face {
    font-family: "GothamXLight";
    src: url("../fonts/GothamScreenSmart/GothamSSm-XLight.otf");
}

@font-face {
    font-family: "GothamXLightItalic";
    src: url("../fonts/GothamScreenSmart/GothamSSm-XLightItalic.otf");
}

@font-face {
    font-family: "GothamLight";
    src: url("../fonts/GothamScreenSmart/GothamSSm-Light.otf");
}

@font-face {
    font-family: "GothamLightItalic";
    src: url("../fonts/GothamScreenSmart/GothamSSm-LightItalic.otf");
}

@font-face {
    font-family: "GothamBook";
    src: url("../fonts/GothamScreenSmart/GothamSSm-Book.otf");
}

@font-face {
    font-family: "GothamBookItalic";
    src: url("../fonts/GothamScreenSmart/GothamSSm-BookItaliс.otf");
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamScreenSmart/GothamSSm-Medium.otf");
}

@font-face {
    font-family: "GothamItalic";
    src: url("../fonts/GothamScreenSmart/GothamSSm-MediumItalic.otf");
}

@font-face {
    font-family: "GothamBold";
    src: url("../fonts/GothamScreenSmart/GothamSSm-Bold.otf");
}

@font-face {
    font-family: "GothamBoldItalic";
    src: url("../fonts/GothamScreenSmart/GothamSSm-BoldItalic.otf");
}

@font-face {
    font-family: "GothamBlack";
    src: url("../fonts/GothamScreenSmart/GothamSSm-Black.otf");
}

@font-face {
    font-family: "GothamBlackItalic";
    src: url("../fonts/GothamScreenSmart/GothamSSm-BlackItalic.otf");
}

body {
    font-family: 'Gotham';
    margin: 0;
    padding: 0;
}

*.deactive{
    display: none !important;
}

.layout.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: red;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1000;
}

.layout.header p {
    font-family: 'GothamLight';
    font-size: 30px;
}

.layout.separator {
    background-color: white;
    width: 5px;
    height: 75%;
    margin-left: 10px;
    margin-right: 10px;
}

.layout.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: red;
    color: white;
    width: 100%;
    height: 120px;
}

.layout.adress {
    width: 300px;
}

.layout.adress h1 {
    margin: 0;
    font-size: 20px;
}

.layout.adress p {
    margin: 0;
    font-size: 10px;
    font-family: 'GothamLight';
}

.layout::-webkit-scrollbar {
    width: 8px;
}
.layout::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.7);
    border-radius: 10px;
}
.layout::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.layout.profile-container {
    position: fixed;
    right: 10px;
    top: 60px;
    width: 350px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    transition: opacity 0.3s;
    opacity: 0;
    z-index: 1000;
}

.layout.profile-container.active {
    opacity: 1;
}

.layout.profile-flex {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 120px;
    color: red;
    height: 130px;
    width: 130px;
}

.layout.profile-icon * {
    margin: 0;
    padding: 0;
}

.layout.profile-info {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 130px;
}

.layout.profile-info * {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.layout.profile-sair {
    position: absolute;
    bottom: 5px;
    right: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px;
    background-color: red;
    border-radius: 5px;
}

.layout.profile-sair:hover {
    background-color: maroon;
}

.layout.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: red;
    color: white;
    transition: left 0.3s;
    z-index: 999;
}
.layout.sidebar.active {
    left: 0;
}
.layout.sidebar h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.layout.sidebar ul {
    list-style: none;
    padding: 0;
}

.layout.sidebar ul li {
    text-align: center;
}

.layout.sidebar ul li a {
    display: flex;
    border-bottom: 1px solid white;
    cursor: pointer;
    color: white;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 50px;
}

.layout.sidebar ul li a:hover {
    background: darkred;
}

.layout.menu {
    font-size: 32px;
    color: white;
    cursor: pointer;
}

.layout.menu:hover {
    color: silver;
}

.layout.profile {
    font-size: 32px;
    color: white;
    cursor: pointer;
}

.layout.profile:hover {
    color: silver;
}

.layout.search-bar {
    width: 800px;
    height: 40px;
    background: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
}
.layout.search-bar input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 18px;
}
.layout.search-bar i {
    color: red;
    font-size: 20px;
}

/* ------------------------------------------------------------------------ calendario.html */

body.calendario {
    background: url('/static/imgs/fundo_calen.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    
.calendario.box {
    height: 500px;
    width: 800px;
    position: relative;
}

/* ------------------------------------------------------------------------ cardapio.html */

.cardapio.body {
    margin: 0;
    padding: 0;
    background: url('/static/imgs/fundoupd.png') repeat fixed center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.cardapio.container {
    margin: 0;
    padding: 0;
    width: 1080px;
    height: 600px;
}

.cardapio.cardapio-vazio {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* ------------------------------------------------------------------------ homenutri.html */

.homenutri.body {
    background: url('/static/imgs/fundoupd.png') repeat center center/cover;
    min-height: 100vh;
}

/* ------------------------------------------------------------------------ cardapioadm.html */

* {
    box-sizing: border-box;
}

body.cardapioadm {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: url('/static/imgs/fundoadm.png') 

}

/* TOPO */
.cardapioadm.top-bar {
    background-color: #c80000;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cardapioadm.logo {

    padding: 4px 16px;
    border-left: 4px solid #c80000;
    border-right: 4px solid #c80000;
}

.cardapioadm.logo img {
    height: 55px; /* Adjust as necessary for clarity */
    object-fit: contain;
}

/* MENU HAMBÚRGUER */
.cardapioadm.menu-icon {
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.cardapioadm.menu-icon div {
    width: 24px;
    height: 5px;
    background: black;
    border-radius: 3px;
}

/* CONTEÚDO PRINCIPAL */
.cardapioadm.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 20px;
    min-height: 100vh;
}

.cardapioadm.edit-title {
    font-size: 20px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.cardapioadm.edit-title img {
    width: 20px;
    height: 20px;
}

.cardapioadm.upload-box {
    min-width: 700px;
    min-height: 350px;
    border: 2px dashed #00aaff;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.cardapioadm.upload-box #nuvem {
    width: 40px;
    margin-bottom: 10px;
}

.cardapioadm.upload-box #arquivos-aceitos {
    font-size: 14px;
    color: #555;
    margin: 0;
}

.cardapioadm.upload-box #erro {
    font-size: 14px;
    color: #ff0000;
    margin: 0;
}

.cardapioadm.upload-box #recebido{
    max-width: 75%;
}

.cardapioadm.upload-box #pdf-recebido {
    width: 1000px;
    height: 600px;
}

.cardapioadm.buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.cardapioadm.buttons button {
    padding: 20px 80px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s;
}

.cardapioadm.buttons button:hover {
    background-color: #f0f0f0;
}

.cardapioadm.cardapio-enviado-section {
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardapioadm.cardapio-enviado {
    width: 350px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    z-index: 1000;
}

.cardapioadm.container-flex {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cardapioadm.container-flex .botoes {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.cardapioadm.container-flex .texto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.cardapioadm.container-flex .texto p {
    font-weight: bold;
}

.cardapioadm.container-flex .voltar {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px;
    background-color: red;
    border-radius: 5px;
}

.cardapioadm.container-flex .voltar:hover {
    background-color: maroon;
    cursor: pointer;
}

@media (max-width: 400px) {
    .cardapioadm.upload-box {
    width: 100%;
    }

    .cardapioadm.buttons {
    flex-direction: column;
    width: 100%;
    align-items: center;
    }

    .cardapioadm.buttons button {
    width: 80%;
    }
}

/* ------------------------------------------------------------------------ enquete.html */

body.enquete {
    background: url('/static/imgs/fundo_enq.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------------------------------------------------------ homealuno.html */

.body.homealuno {
    margin: 0;
    padding: 0;
    background: url('/static/imgs/fundoupd.png') no-repeat fixed center center/cover;
    width: 100%;
    min-height: 100vh;
}
.homealuno.container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 520px;
}

.homealuno.page {
    background: url('/static/imgs/bloco_fundo.jpg') no-repeat center center/cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.homealuno.carrousel {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
}

.homealuno.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: absolute;
    font-size: 32px;
    color: red;
    background-color: white;
    cursor: pointer;
    z-index: 2;
    margin-top: 0px; 
    width: 40px;
    height: 40px;
}

.homealuno.nav:hover {
   background-color: silver; 
}

.homealuno#seta-left {
    top: 200px;
    left: 10px;
}
.homealuno#seta-right {
    top: 200px;
    right: 10px;
}

/* ------------------------------------------------------------------------ homenutri.html */

.homenutri.box {
    height: 150px;
    width: 100px;
    position: relative;
}

/* ------------------------------------------------------------------------ paginainicial.html */

.paginainicial.section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.paginainicial#home {
    background: url('/static/imgs/fundo.PNG') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paginainicial.detalhe-bola {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 0;
}

.paginainicial#vermelha {
    background-color: red;
    position: absolute;
    left: 55%;
    top: 35%;
}

.paginainicial#vermelha-escura{
    background-color: maroon;
    position: absolute;
    left: 85%;
    top: 8%;
}

.paginainicial#branca {
    background-color: white;
    position: absolute;
    left: 73%;
    top: 60%;
}

.paginainicial#objetivo {
    background: url('/static/imgs/fundo2.PNG') no-repeat center center/cover;
    position: relative;
    height: 650px;
    margin: 0;
    padding: 0;
}

.paginainicial.gradient-container {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1), 60%, rgba(153, 35, 35, 0), 80%, rgba(153, 35, 35, 0));
    width: 100%;
    height: 100%;
}

.paginainicial.up-gradient-container {
    position: absolute;
    background: linear-gradient(0turn, rgb(153, 35, 35), 50%, rgba(153, 35, 35, 0));
    width: 100%;
    height: 100%;
}

.paginainicial.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 80%;
    max-width: 1200px;
}
.paginainicial.info {
    max-width: 50%;
    text-align: left;
    padding: 20px;
    background: transparent;
    padding: 30px;
    border-radius: 15px;
    padding: 0;
}
.paginainicial.info h2 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #333;
    font-family: 'GothamBlack';
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    cursor:default;
    margin: 0px;
    cursor: default;
}
.paginainicial.info p {
    font-size: 18px;
    color: white;
    text-align: justify;
    line-height: 1.5;
    font-family: 'Gotham';
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    cursor: default;
    margin: 0px;
}
.paginainicial.login-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 300px;
    z-index: 1;
}
.paginainicial.alert {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #ccc;
    margin-bottom: 0px;
    padding-bottom: 5px;
    size: 100%;
}

.paginainicial.erro {
    margin: 0;
    font-weight: bold;
    color: red;
}

.paginainicial.container {
    background: rgba(255, 255, 255, 0.95);
    padding: 90px;
    border-radius: 12px;
    max-width: 480px;
    text-align: left;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    position: relative;
}

.paginainicial.texto-objetivo {
    
    width: 100%;
    height: 100%;
    margin: 0;
}

.paginainicial.texto-objetivo h1 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-family: 'GothamBlack';
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding-left: 20px;
}

.paginainicial.texto-objetivo p {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-family: 'Gotham';
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 600px;
    padding-left: 20px;
}

.paginainicial.titulo {
    background: black;
    color: white;
    padding: 20px 25px;
    font-size: 1.7em;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: -25px;
    left: 15px;
    border-radius: 8px;
}
label.paginainicial {
    font-family: 'GothamLight';
    display: block;
    margin-top: 15px;
    color: #333;
}
input.paginainicial {
    font-family: 'Gotham';
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button.paginainicial.acessar {
    font-family: 'GothamBlack';
    width: 100%;
    padding: 12px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
}
button.paginainicial.acessar:hover {
    background: darkred;
}

/* ------------------------------------------------------------------------ resultado_calculo.html */

body.resultado_calculo {
    background: url('/static/imgs/fundo_results.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    
.resultado_calculo.box {
    height: 500px;
    width: 800px;
    position: relative;
    background-color: red;
}


/* ------------------------------------------------------------------------ sobre.html */

.sobre.canva {
    background: url('/static/imgs/fd_sobre.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.sobre.gradient-container {
    background: linear-gradient(90deg, rgb(157, 30, 30), 60%, rgba(153, 35, 35, 0), 80%, rgba(153, 35, 35, 0));
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 60px;
}

.sobre.canva .sobre.gradient-container * {
    margin: 10px;
    text-align: justify;
    width: 60%;
}

/* ------------------------------------------------------------------------ erropagina.html */

.erropagina.canva {
    background: url('/static/imgs/fd_sobre.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.erropagina.gradient-container {
    background: linear-gradient(90deg, rgb(157, 30, 30), 60%, rgba(153, 35, 35, 0), 80%, rgba(153, 35, 35, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 60px;
}

.erropagina.canva .erropagina.gradient-container * {
    margin: 10px;
    text-align: center;
    width: 60%;
}

.erropagina.canva .erropagina.gradient-container a {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px;
    background-color: red;
    border-radius: 5px;
    width: 100px;
}