{% extends 'layout.html' %}

{% block content %}

<div class="cardapio body">
    <div class="cardapio container">
        {% if cardapio %}
            <h1>Cardápio {{ "%02d" % cardapio.data.day }}/{{ "%02d" % cardapio.data.month }}/{{ cardapio.data.year }} {{ "%02d" % cardapio.data.hour }}:{{ "%02d" % cardapio.data.minute }}</h1>
            <embed src="{{ cardapio.anexo }}#toolbar=0&navpanes=0" type="application/pdf">
        {% else %}
            <div class="cardapio cardapio-vazio">
                <h1>Atualmente nenhum cardápio foi postado ainda.</h1>
                <p>Fique ligado, pois logo logo sairá o novo cardápio da semana!</p>
            </div>
        {% endif %}
    </div>
    <!-- <div class="cardapio historico">
        <h1>HISTÓRICO DE CARDÁPIOS</h1>
        <ul>
            {% if cardapios %}
                {% for cardapio_selecionado in cardapios %}
                    <li>
                        <h1 class="cardapio">Cardápio {{ "%02d" % cardapio_selecionado.data.day }}/{{ "%02d" % cardapio_selecionado.data.month }}/{{ cardapio_selecionado.data.year }} {{ "%02d" % cardapio.data.hour }}:{{ "%02d" % cardapio.data.minute }}</h1>
                        <a>Consultar</a>
                    </li>
                {% endfor %}
            {% else %}
                <li>
                    <p>Ops! sem histórico de cardápios por enquanto.</p>
                </li>
            {% endif %}
        </ul>
    </div> -->
</div>

{% endblock %}