{% extends 'layout.html' %}
{% block content %}
<!-- TOPO COM LOGO E MENU -->


<!-- CONTEÚDO CENTRAL -->
<div class="cardapioadm container">
  <div class="cardapioadm edit-title">
    <img src="https://cdn-icons-png.flaticon.com/512/1250/1250615.png" alt="Lápis">
    Editar cardápio
  </div>

  <div class="cardapioadm upload-box" id="cardapioadm-interactive-div">
    <p id="erro">Erro</p>
    <img src="/static/imgs/cloud-upload.webp" id="nuvem" alt="Upload">
    <p id="arquivos-saceitos">Serão aceitos os arquivos em:<br><strong>png, jpeg e pdf</strong></p>
    <img src="" alt="" id="recebido" class="deactive">
    <embed src="" type="application/pdf" class="deactive" id="pdf-recebido">
  </div>

  <input type="file" name="arquivo" id="arquivo" style="display: none;">

  <div class="cardapioadm buttons">
    <button class="cardapioadm enviar">Enviar</button>
    <button class="cardapioadm cancelar">Cancelar</button>
  </div>
</div>

<script src="/static/js/cardapioadm.js"></script>
{% endblock %}