{% extends 'layout.html' %}
{% block content %}

<div class="body homealuno">
    <div class="homealuno carrousel">
        <div class="nav left"><i class="fas fa-arrow-left"></i></div>
        <div class="homealuno page" id="page1">
            <p>QUAL É O MELHOR DIA DO CARDÁPIO?</p>
        </div>
        <div class="nav right"><i class="fas fa-arrow-right"></i></div>
    </div>
    <div class="homealuno container">
        <h1>BEM VINDO AO CARDÁPIO ESCOLAR</h1>
        <p>Fique ligado nas enquetes, nas metas e nos níveis de desperdício!</p>
        <p>Sempre dê o seu feedback sobre os lanches que oferecemos na escola. Oferecemos sempre a escolha melhor dos nossos estudantes para ter uma refeição melhor e saudável!</p>
        <p>Além disso, regule seu nível de refeição, para não termos disperdício na escola! Estabelecemos metas para alcançá-las, portanto, preste atenção para não jogar alimentos fora!</p>
    </div>
</div>


{% endblock %}