{% extends 'layout.html' %}
{% block content %}
<div class="menu" onclick="toggleMenu()"><i class="fas fa-bars"></i></div>
<div class="profile"><i class="fas fa-user-circle"></i></div>
<div class="search-bar">
    <input type="text" placeholder="Pesquisar...">
    <i class="fas fa-search"></i>
</div>
<div class="container">
    <div class="header">OLA, SEJA BEM VINDO!</div>
    <div class="nav left"><i class="fas fa-arrow-left"></i></div>
    <div class="content">
        <p>QUAL É O MELHOR DIA DO CARDÁPIO?</p>
    </div>
    <div class="nav right"><i class="fas fa-arrow-right"></i></div>
</div>

{% endblock %}