
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/static/assets/logo.PNG"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio EcoMenu Escolar</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="layout header">
        {% if usuario %}
            {% if usuario.tipo == 'aluno' %}

            {% elif usuario.tipo == 'funcionario' %}

            {% else %}
                <p>SESI-SP</p>
            {% endif %}
        {% else %}
            <p>SESI-SP</p>
        {% endif %}
    </div>

    <div class="layout sidebar">
        <h2>Menu</h2>
        {% if usuario %}
            {% if usuario == 'aluno' %}
                <ul>
                    <li>Sair</li>
                    <li>Cardápio</li>
                    <li>Curiosidades</li>
                    <li>Desperdício</li>
                    <li>Sobre</li>
                </ul>
            {% elif usuario == 'funcionario' %}

            {% endif %}
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
    <div class="layout footer">
        <h1>SESI-SP</h1>
        <div class="layout separator"></div>
        <h1>2025</h1>
    </div>
</body>
<script>
    function toggleMenu() {
        const sidebar = document.querySelector('.sidebar');
        sidebar.classList.toggle('active');
    }
    
    document.addEventListener("click", function(event) {
        const sidebar = document.querySelector('.sidebar');
        const menuButton = document.querySelector('.menu');
        if (!sidebar.contains(event.target) && !menuButton.contains(event.target)) {
            sidebar.classList.remove('active');
        }
    });
</script>
</html>
