<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/static/assets/logo.PNG"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio EcoMenu Escolar</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="../static/js/header.js"></script>
</head>
<body>
    {% if usuario %}
        <div class="layout header" style="justify-content: space-between;">
            <div class="layout menu" onclick="toggleMenu()"><i class="fas fa-bars"></i></div>
            <img src="/static/imgs/sesilogo.jpg" height="35px">
            <!-- <div class="layout search-bar">
                <input type="text" placeholder="Pesquisar...">
                <i class="fas fa-search"></i>
            </div> -->
            <p>Cardápio Escolar</p>
            <div class="layout profile" onclick="toggleProfile()"><i class="fas fa-user-circle"></i></div>
        </div>   
    {% else %}
        <div class="layout header">
            <img src="/static/imgs/sesilogo.jpg" height="35px">
            <p>Cardápio Escolar</p>
        </div>
    {% endif %}

    {% if usuario %}
        <div class="layout profile-container">
            <div class="layout profile-flex">
                <div class="layout profile-icon"><i class="fas fa-user-circle"></i></div>
                <div class="layout profile-info">
                    <p>{{ usuario.nome }}</p>
                    <p style="font-size: 12px;">{{ usuario.email }}</p>
                    <p>{{ usuario.tipo|capitalize }}</p>
                    <div class="layout profile-sair" onclick="actionLogout()">Sair</div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if usuario %}
    <div class="layout sidebar">
        <h2 style="padding-top: 50px;">Menu</h2>
        {% if usuario.tipo == 'aluno' %}
            <ul>
                <li><a href="/aluno">Início</a></li>
                <li><a href="/cardapio">Cardápio</a></li>
                <li><a href="/desperdicio">Desperdício</a></li>
                <li><a href="/enquete">Enquete</a></li>
                <li><a href="/sobre">Sobre</a></li>
            </ul>
        {% elif usuario.tipo == 'funcionario' %}
            <ul>
                <li><a href="/nutri">Início</a></li>
                <li><a href="/cardapio">Cardápio</a></li>
                <li><a href="/cardapio/enviar">Enviar Cardápio</a></li>
                <li><a href="/desperdicio/enviar">Editar Desperdício</a></li>
                <li><a href="/enquete/resultados">Enquete</a></li>
                <li><a href="/aviso/enviar">Editar Aviso</a></li>
                <li><a href="/sobre">Sobre</a></li>
            </ul>
        {% endif %}
    </div>
    {% endif %}
    <div style="color: white; width: 100%; height: 50px;"></div>
    {% block content %}
    {% endblock %}
    {% if usuario and aviso %}
        {% if usuario.tipo == 'aluno' and aviso.ativo %}
            {% if not usuario.aviso %}
                <div id="mensagem" class="layout aviso-container">
                    <div class="layout aviso">
                        <h2>AVISO</h2>
                        <div class="layout container-flex">
                            <h1 class="layout aviso-titulo">{{ aviso.titulo }}</h1>
                            {% if not aviso.imagem == "" %}
                                <img class="layout aviso-imagem" src="{{ aviso.imagem }}">
                            {% endif %}
                            <p class="layout aviso-texto">{{ aviso.mensagem }}</p>
                           
                        </div>
                         <div class="layout botoes">
                            <div class="layout fechar" onclick="fecharAviso()">Fechar</div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
    <div class="layout footer">
        <img src="/static/imgs/sesilogo.jpg" width="200px">
        <div class="layout adress">
            <h1>Centro Educacional 185</h1>
            <p>Avenida das Comitivas, Doutor Roberto Cardoso Alves, 800 - Los Angeles</p>
            <p>14787-400</p>
            <p>(17) 3321-0450</p>
        </div>
    </div>
</body>
</html>
