
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/static/assets/logo.PNG"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio EcoMenu Escolar</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="header"><p>SESI-SP</p></div>
    {% block content %}
    {% endblock %}
    <div class="footer">
        <h1>SESI-SP</h1>
        <div class="separator"></div>
        <h1>2025</h1>
    </div>
</body>
</html>
