{% extends 'layout.html' %}
{% block content %}
<div id="home" class="paginainicial section">
    <div class="paginainicial up-gradient-container"></div>
    <div class="paginainicial container1">
        <div class="paginainicial info">
            <h2>Sesi - 185</h2>
            <p>Plataforma de apoio para a visualização do cardápio escolar SESI Barretos</p>
        </div>

        <div>
            <div class="paginainicial detalhe-bola" id="vermelha"></div>
            <div class="paginainicial detalhe-bola" id="branca"></div>
            <div class="paginainicial detalhe-bola" id="vermelha-escura"></div>    
        </div>
        
        <div class="paginainicial login-box">
            {% if erro %}
                <div class="paginainicial alert">
                    <p class="paginainicial erro">{{ erro }}</p>
                </div>
            {% endif %}
            <form action="/" method="POST">
                <label for="email" class="paginainicial">E-mail:</label>
                <input type="email" name="email" id="email" class="paginainicial" placeholder="Digite seu email" required>
                <label for="password" class="paginainicial">Senha:</label>
                <input type="password" name="senha" id="password" class="paginainicial" placeholder="Digite sua senha" required>
                <button type="submit" class="paginainicial acessar">Acessar</button>
            </form>
        </div>
    </div>
</div>
<div style="background-color: rgb(153, 35, 35); width: 100%; height: 150px;"></div>
<div id="objetivo" class="paginainicial section">
    <div class="paginainicial gradient-container">
        <div class="paginainicial texto-objetivo">
            <h1>UM CARDÁPIO PARA TODOS</h1>
            <p>Fique atualizado sobre quais comidas deliciosas estarão no cardapio dos dias letivos da rede SESI-SP!</p>
            <p>Uma interação mais próxima entre a nutrição e os alunos da rede contribuindo para uma melhor colaboração e organização!</p>
            <p>Desenvolvemos um site interativo que centralize o cardápio escolar e promova educação alimentar, sustentabilidade e engajamento da comunidade escolar, incentivando práticas conscientes e saudáveis.</p>
        </div>
    </div>
</div>
{% endblock %}