

{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário</title>
    <style>
    body {
        background: url('/static/imgs/fundo_results.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
   
        
    .box {
         height: 500px;
         width: 800px;
         position: relative;
        }
    </style>
</head>
<body>
    <h2 style= "text-align: center;" >CALCULO TOTAL</h2>
    
  
</body>
</html>
{% endblock %}