{% extends 'layout.html' %}
{% block content %}
<div id="canva" class="sobre canva">
    <p class="sobre" id="box" style="left: 0px; top: 200px;">O Serviço Social da Indústria SESI é uma entidade de direito privado, nos termos da lei civil, estruturada em base federativa para prestar assistência social aos trabalhadores industriais e de atividades assemelhadas em todo o País.
        O SESI exerce papel fundamental no desenvolvimento social brasileiro, colaborando efetivamente com a melhoria da qualidade de vida do trabalhador da indústria, seus familiares e comunidade em geral por meio de seus serviços nos campos da educação,saúde, esporte, cultura, nutrição e outros. 
        É, também, parceiro das empresas, fornecendo apoio ativo na implantação e desenvolvimento de projetos de benefícios sociais para funcionários.</p>
    </p>
</div>
{% endblock %}